<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Juanito Pecados Mendoza Muñoz</h4>
              <h5>correo@mexq.com.mx</h5>
              <h5>00123</h5>
            </div>
            
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="img/sins.jpg" class="img-circle img-responsive"> </div>                
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Area:</td>
                        <td>Area 1</td>
                      </tr>
                      <tr>
                        <td>Puesto:</td>
                        <td>Puesto 1</td>
                      </tr> 
                      <tr>
                        <td>No. IMSS:</td>
                        <td>12345678910</td>
                      </tr>                 
                    </tbody>
                  </table>        
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="QR" src="img/qr.jpg" class="img-responsive"> </div>               
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Dirección:</td>
                        <td>
                        <p>Calle, Numero</p>
                        <p>Fraccionamiento, CP</p>
                        <p>Municipio, Estado</p>
                        </td>
                      </tr>
                      <tr>
                        <td>Puesto:</td>
                        <td>Puesto 1</td>
                      </tr> 
                      <tr>
                        <td>Teléfono(s):</td>
                        <td>
                         <p>449 9090909 (Fijo)</p>
                         <p>449 7879879 (Móvil)</p>
                        </td>
                      </tr>                  
                    </tbody>
                  </table>        
                </div>
             </div>          

             <div class="row">
                  <div class="bar_code col-md-12 col-lg-12 " align="center"> <img alt="Bar Code" src="img/bar_code.jpg"> </div>
             </div>
          </div>

          <div class="panel-footer">
              <div data-original-title="Add User" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-pencil"></i></div>                                           
          </div>        
      
      </div>
    </div>
</div>