<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 align="middle">Crear Perfil</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="avatar" src="img/sins.jpg" class="img-circle img-responsive"> </div>                
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Nomina:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text">
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Nombre:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text">
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Apellido Paterno:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text">
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Apellido Materno:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text">
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Area:</td>
                        <td>
                            <div class="form-group">                                
                                <div>
                                  <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">Area 1</option>
                                    <option value="2">Area 2</option>
                                    <option value="3">Area 3</option>
                                    <option value="4">Area 4</option>
                                  </select>
                                </div>
                              </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Puesto:</td>
                        <td>
                            <div class="form-group">
                                <div>
                                  <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">Puesto 1</option>
                                    <option value="2">Puesto 2</option>
                                    <option value="3">Puesto 3</option>
                                    <option value="4">Puesto 4</option>
                                  </select>
                                </div>
                              </div>
                        </td>
                      </tr>
                      <tr>
                        <td>No. IMSS:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text">
                            </div>
                        </td>
                      </tr>
                       </tbody>
                  </table>        
                </div>
              </div>


               <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="QR" src="img/qr.jpg" class="img-responsive"> </div>             
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>                
                      <tr><h4>Dirección</h4></tr>
                      <tr>
                        <td>Calle:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text" placeholder="">
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Número:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text" placeholder="" align="right">
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Fraccionamiento:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text">
                            </div>
                        </td>
                        <td>
                      </tr>
                      
                      <tr>
                        <td>Código Postal:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text" placeholder="">
                            </div>
                        </td>
                      </tr>

                      <tr>
                        <td>Estado:</td>
                        <td>
                            <div class="form-group">
                                <div>
                                  <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">Aguascalienets</option>
                                    <option value="2">Baja California</option>
                                    <option value="3">Baja California Sur</option>
                                    <option value="4">Coahuila</option>
                                  </select>
                                </div>
                              </div>
                        </td>
                    </tr>
                      <tr>
                        <td>Municipio:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text" placeholder="">
                            </div>
                        </td>
                      </tr>
                      <tr><h4>Teléfono</h4></tr>
                      <tr>
                        <td>Local/Fijo:</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text" placeholder="">
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Celular</td>
                        <td>
                            <div>
                            <input class="form-control" value="" type="text" placeholder="" align="right">
                            </div>
                        </td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Female</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Kathmandu,Nepal</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>        
                  
                </div>             

              <div class="row">
              <div class="bar_code col-md-12 col-lg-12 " align="center"> <img alt="Bar Code" src="img/bar_code.jpg" class="img-responsive"> </div>  
              </div>     
            
            </div>
            </div>
            <div class="panel-footer">
                <div data-original-title="Add User" data-toggle="tooltip" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></div>
                <div data-original-title="Remove User" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></div>                        
            </div>   
        </div>
      </div>
    </div>

